################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MarsHover.Test/obj
/Mars Hover/obj
